@import url(paleta.css);

@media screen and (min-width: 768px) {

    .display {
        display: flex;
    }

    header {
        grid-template: 1fr / repeat(2, 1fr);
        justify-content: space-between;
        padding: 20px;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        transition: all .5s ease-in-out;
    }

    header.scrolled {
        position: sticky;
        opacity: 0.6;
        background-color: transparent;
    }

    header.scrolled:hover {
        opacity: 1;
    }

    header.scrolled a {
        background: transparent;
    }

    header.scrolled a:hover {
        color: black;
    }

    nav>div {
        flex-flow: row nowrap;
        gap: 5px;
    }

    nav a {
        font-size: 1.3em;
        flex: auto;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: var(--botao);
        color: var(--cor1hover);
    }

    #sanduiche {
        display: none;
    }

    main article {
        grid-template-rows: 1fr 0.6fr;
    }

    main .aboutme {
        max-width: 500px;
        padding: 20px;
    }

    main .aboutme h1 {
        font-size: 2.6em;
    }

    main .aboutme p {
        font-size: 1.2em;
    }

    main .github {
        width: 500px;
        align-self: center;
        height: 100%;
        border-radius: 10px;
    }

    main .github p {
        font-size: 1.3em;
        padding: 40px;
    }

    main .github a {
        border-radius: 1.5em;
        font-size: 1.5em;
        padding: 20px 0;
        width: 200px;
    }

    main .container {
        grid-template: 1fr / repeat(3, 1fr);
        justify-items: center;
        overflow-x: auto;
        padding: 20px;
    }

    main .container .card {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 3/4;
        padding: 20px;
    }

    main .container .card a {
        font-size: 1.3em;
    }

    .img img {
        width: 100%;
        max-width: 350px;
        transition: ease-in-out .2s;
    }

    .img img:hover {
        transform: scale(1.1);
    }
}